---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About the portafolio">
    <h1>About the portafolio</h1>

    <p>
        Soy Software Engenier II en Ripley Tech
    </p>
</Layout>
